.title-bar {
  height: 60px;
  background: #1976d2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1pt solid white;
}

.title {
  color: white;
  font-weight: bold;
}
