:host { 
  flex: 1;
  display: flex;
  max-width: 400pt;
}

.bracket {
  flex: 1 1 auto;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.series {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-around;
}
