<div class="bracket">
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]" [data]="itemAt('w', 1, 1)"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 2]" [data]="itemAt('w', 1, 2)"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 3]" [data]="itemAt('w', 1, 3)"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 4]" [data]="itemAt('w', 1, 4)"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]" [data]="itemAt('w', 2, 1)"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 2]" [data]="itemAt('w', 2, 2)"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]" [data]="itemAt('w', 3, 1)"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]" [data]="itemAt('f', 4, 1)"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]" [data]="itemAt('e', 3, 1)"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]" [data]="itemAt('e', 2, 1)"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 2]" [data]="itemAt('e', 2, 2)"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]" [data]="itemAt('e', 1, 1)"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 2]" [data]="itemAt('e', 1, 2)"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 3]" [data]="itemAt('e', 1, 3)"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 4]" [data]="itemAt('e', 1, 4)"></app-bracket-matchup>
  </div>
</div>
