<div class="bracket">
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 2]"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 3]"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 4]"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 2]"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 2]"></app-bracket-matchup>
  </div>
  <div class="series">
    <app-bracket-matchup [routerLink]="['/matchup', 1]"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 2]"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 3]"></app-bracket-matchup>
    <app-bracket-matchup [routerLink]="['/matchup', 4]"></app-bracket-matchup>
  </div>
</div>
